.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(128, 128, 128, 0.171);
}

.title {
  font-family: "Get Schwifty";
  font-size: 49px;
  font-weight: 800;
  color: rgb(80, 245, 231);
  text-shadow: -5px 1px 5px rgba(116, 116, 116, 0.582);
  padding: 1px;
  margin: 5px;
  margin-left: 0;
}

.homeButton {
  margin-left: 20px;
  height: 40px;
  width: 5%;
  border-radius: 50px;
  margin-top: 20px;
  background-color: rgb(80, 245, 231);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  border: none;
}

.homeButton:hover {
  background-color: rgb(55, 165, 156);
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0.753);
  transition: 0.5s;
}

.aboutButton {
  margin-left: 20px;
  height: 40px;
  width: 5%;
  margin-top: 20px;
  border-radius: 50px;
  background-color: rgb(80, 245, 231);
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1em;
  border: none;
}

.aboutButton:hover {
  background-color: rgb(55, 165, 156);
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0.753);
  transition: 0.5s;
}

.navToHome {
  text-decoration: none;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navToAbout {
  text-decoration: none;
  color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logoutButton {
  height: 40px;
  width: 6%;
  border: none;
  margin-top: 18px;
  border-radius: 50px;
  background-color: rgb(201, 52, 52);
  cursor: pointer;
  font-size: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.logoutButton:hover {
  background-color: brown;
  transition: 0.5s;
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0.753);
}

.favoriteButton {
  border-radius: 20px;
  width: 40px;
  height: 36px;
  border: none;
  background-color: rgb(253, 228, 1);
  margin-top: 20px;
  padding-top: 2px;
  margin-right: 15px;
  vertical-align: middle;
}

.favoriteButton:hover {
  background-color: rgb(207, 187, 0);
  box-shadow: 2px 2px 2px rgba(116, 116, 116, 0.753);
  cursor: pointer;
  transition: 0.5s;
}

.logoButton {
  width: 25px;
  height: 30px;
  display: flex;
  vertical-align: middle;
}

.titleLink {
  text-decoration: none;
}

@media (max-width: 767px) {
  .navBar {
    /* Modificaciones específicas para dispositivos pequeños */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0);
  }

  .homeButton,
  .aboutButton,
  .logoutButton,
  .favoriteButton {
    /* Modificaciones específicas para dispositivos pequeños */
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    width: 100%;
    height: 50px;
    align-items: center;
  }
  .logoButton {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
  }

  .title {
    /* Modificaciones específicas para dispositivos pequeños */
    font-size: 24px;
  }
}

/* Media query para dispositivos medianos y grandes  */
@media (min-width: 768px) and (max-width: 1100px) {
  .navBar {
    /* Modificaciones específicas para dispositivos medianos y grandes */
    justify-content: space-around;
  }

  .homeButton,
  .aboutButton,
  .logoutButton {
    /* Modificaciones específicas para dispositivos medianos y grandes */
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    text-align: center;
  }
  .logoButton {
    height: 25px;
  }
  .title {
    /* Modificaciones específicas para dispositivos pequeños */
    font-size: 30px;
    margin-top: 15px;
  }
}
